@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

header {
    
    height: 85px;
    background-color: #FFF;
    border-bottom: 1px solid black;
}

header > nav {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

nav img {
    padding-left: 80px;
    
}

.details {
    display: flex;
    flex-direction: column;
    padding-right: 80px;
    font-size: 15px;
}

.details span a{
    color: #FF2253;
    font-weight: bold;
    text-decoration: none;
}